body{
  color: #17599f;
}

.time{
  padding:10px;
  border:2px solid #88e93c;
  margin:0 5px;
  border-radius:0 0 0 10px;
  float:left;
}

.sessions{
  float:left;
  clear:left;
}

.sessions li{
  margin-bottom:10px;
  list-style:none;
  font-size:1.4em;
}

.selected{
  color:#17599f;
  background-color:#88e93c;
}

a {
  color : #17599f;
  font-weight:600;
  text-decoration:none;
}
